<style>

.row {
  display: flex;
}

.column {
  flex: 50%;
}

</style>

<form class="flexcol">

  <h2>Actions</h2>

  <p>{{localize "actioninitiative.template.combatant.intro"}}</p>

  <div class="row">
  <div class="column">

  {{#each actions}}

  {{#if (eq @index ../splits.actions) }}
  </div>
  <div class="column">
  {{/if}}

  <div class="form-fields">
    <input type="checkbox" name="{{this}}" id="actioninitiative-actionCheckbox" />
    <label> {{ localize (concat "actioninitiative.phrases." this) }} </label>
  </div>

  {{/each}}

  </div>
  </div>

  <div style="display:none" id="actioninitiative-sectionWeaponTypeMelee">
    <br>
    <h2>Weapon Type: Melee</h2>

    <div class="form-fields">
      {{ radioBoxes "Melee" localized.meleeWeapons }}
    </div>
  </div>


  <div style="display:none" id="actioninitiative-sectionWeaponTypeRanged">
    <br>
    <h2>Weapon Type: Ranged</h2>

    <div class="form-fields">
      {{ radioBoxes "Ranged" localized.rangedWeapons }}
    </div>
  </div>

  <div style="display:none" id="actioninitiative-sectionWeaponProperties">

    <br>
    <h2>Weapon Properties</h2>

    <div class="row">
    <div class="column">

    {{#each weaponProperties}}

    {{#if (eq @index ../splits.weaponProperties) }}
    </div>
    <div class="column">
    {{/if}}

    <div class="form-fields">
      <input type="checkbox" name="{{this}}" />
      <label> {{ lookup ../localized.weaponProperties this }} </label>
    </div>

    {{/each}}

    </div>
    </div>
  </div>

  <div style="display:none" id="actioninitiative-sectionSpellLevel">
    <br>
    <h2>Spell Level</h2>

    <div class="form-fields">
      {{ radioBoxes "spellLevels" localized.spellLevels }}
    </div>
  </div>


  <br><br>

</form>

