<style>
.box {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  width: 300px;
  border: 2px dotted rgb(96 139 168);
}

</style>

<form>
  <h2>Actions</h2>
  <p>{{localize "actioninitiative.template.combatant.intro" combatantNames=groupedNames}}</p>

  {{#each actions}}

  <div class="form-fields">
    <input class="actioninitiative-actionCheckbox" type="checkbox" name="{{this}}" />
    <!-- https://ptb.discord.com/channels/170995199584108546/811676497965613117/1098253076089012374 -->
    <label> {{ localize (concat "actioninitiative.phrases." this) }} </label>
  </div>

  {{/each}}

  <div class="form-fields">
    <input type="checkbox" name="OtherAction.Checkbox" id="OtherAction.Checkbox" />
    <label> {{ localize "actioninitiative.phrases.OtherAction" }} </label>
    <input class="actioninitiative-actionTextbox" type="text" name="OtherAction.Text" id="OtherAction.Text" placeholder="{{otherActionDefault}}"/>
  </div>

  <div class="form-fields">
    <input type="checkbox" name="BonusAction.Checkbox" id="BonusAction.Checkbox" />
    <label> {{ localize "actioninitiative.phrases.BonusAction" }} </label>
    <input class="actioninitiative-actionTextbox" type="text" name="BonusAction.Text" id="BonusAction.Text" placeholder="{{bonusActionDefault}}"/>
  </div>

  <div style="display:{{ifThen useSpellLevels 'block' 'none'}}" id="actioninitiative-sectionSpellLevel">
    <br>
    <h2>Spell Level</h2>
        <fieldset id="actioninitiative-fieldSpellLevel" disabled>
        <div class="box">
          {{ radioBoxes "spellLevels" localized.spellLevels checked=defaultSpellLevel }}
        </div>
        </fieldset>

  </div>

</form>

