<form class="flexcol">

  <p>Select one or more actions.</p>

  <div class="form-fields">
    <input type="checkbox" id="actioninitiative.MeleeAttack" name="MeleeAttack" {{ checked MeleeAttack }}/>
    <label> {{ localize "actioninitiative.phrases.MeleeAttack" }}</label>
  </div>

  <div class="form-fields">
    <input type="checkbox" id="actioninitiative.RangedAttack" name="RangedAttack" {{ checked RangedAttack }}/>
    <label> {{ localize "actioninitiative.phrases.RangedAttack" }} </label>
  </div>

  <div class="form-fields">
    <input type="checkbox" id="actioninitiative.SwapGear" name="SwapGear" {{ checked SwapGear }}/>
    <label> {{ localize "actioninitiative.phrases.SwapGear" }} </label>
  </div>

  <div class="form-fields">
    <input type="checkbox" id="actioninitiative.CastSpell" name="CastSpell" {{ checked CastSpell }}/>
    <label> {{ localize "actioninitiative.phrases.CastSpell" }} </label>
  </div>

  <div class="form-fields">
    <input type="checkbox" id="actioninitiative.OtherAction" name="OtherAction" {{ checked OtherAction }}/>
    <label> {{ localize "actioninitiative.phrases.OtherAction" }} </label>
  </div>

  <hr>

  <div class="form-fields">
    <input type="checkbox" id="actioninitiative.SurprisePenalty" name="SurprisePenalty" {{ checked SurprisePenalty }}/>
    <label> {{ localize "actioninitiative.phrases.SurprisePenalty" }} </label>
  </div>

  <div class="form-fields">
    <input type="checkbox" id="actioninitiative.BonusAction" name="BonusAction" {{ checked BonusAction }}/>
    <label> {{ localize "actioninitiative.phrases.BonusAction" }} </label>
  </div>

</form>