<form class="flexcol" autocomplete="off">
  <nav class="sheet-tabs tabs" data-group="sections">
    <a class="item" data-tab="basic">
      {{localize "actioninitiative.settings.tabs.basic.tabName"}}
    </a>

    <a class="item" data-tab="weapons">
      {{localize "actioninitiative.settings.tabs.weapons.tabName"}}
    </a>

    <a class="item" data-tab="spell-levels">
      {{localize "actioninitiative.settings.tabs.spells.tabName"}}
    </a>
  </nav>

  <section class="content">

    <!-- Basic Tab -->
    <div class="tab" data-tab="basic" data-group="sections">
      <p> {{ localize "actioninitiative.settings.tabs.basic.description" }} </p>

      {{#each basic as |basicFormula basicKey|}}

      <div class="form-group">
        <label> {{localize (lookup (concat "actioninitiative.phrases." basicKey) "string") }} </label>
        <div class="form-fields">
          <input class="actioninitiative-actionTextbox" type="text" name="{{concat 'BASIC.' basicKey}}" id="{{concat 'BASIC.' basicKey}}" value="{{basicFormula}}" placeholder="{{lookup ../placeholder.BASIC basicKey}}">
        </div>
      </div>

      {{/each}}

    </div>

    <!-- Weapon Types Tab -->
    <div class="tab" data-tab="weapons" data-group="sections">

      <p> {{ localize "actioninitiative.settings.tabs.weapons.description" }} </p>
      <h3> {{ localize "actioninitiative.settings.tabs.weapons.heading" }} </h3>

      {{#each weaponTypes as |weaponTypeFormula weaponType|}}

      <div class="form-group">
        <label> {{localize (lookup ../localized.weaponTypes weaponType)}} </label>
        <div class="form-fields">
          <input class="actioninitiative-actionTextbox" type="text" name="{{concat 'WEAPON_TYPES.' weaponType}}" id="{{concat 'WEAPON_TYPES.' weaponType}}" value="{{weaponTypeFormula}}" placeholder="{{lookup ../placeholder.WEAPON_TYPES weaponType}}">
        </div>
      </div>

      {{/each}}

      <h3> {{localize "actioninitiative.phrases.WeaponProperties"}} </h3>

      {{#each weaponProperties as |weaponPropsFormula weaponProp|}}

      <div class="form-group">
        <label> {{localize (lookup ../localized.weaponProperties weaponProp)}} </label>
        <div class="form-fields">
          <input class="actioninitiative-actionTextbox" type="text" name="{{concat 'WEAPON_PROPERTIES.' weaponProp}}" id="{{concat 'WEAPON_PROPERTIES.' weaponProp}}" value="{{weaponPropsFormula}}" placeholder="{{lookup ../placeholder.WEAPON_PROPERTIES weaponProp}}">
        </div>
      </div>

      {{/each}}

    </div>

    <!-- Spells Tab -->
    <div class="tab" data-tab="spell-levels" data-group="sections">

      <h2> {{ localize "actioninitiative.settings.tabs.spells.heading" }} </h2>
      <p> {{ localize "actioninitiative.settings.tabs.spells.description" }}</p>

      {{#each spellLevels as |spellLevelFormula spellLevel|}}

      <div class="form-group">
        <label> {{ localize (lookup ../localized.spellLevels spellLevel) }} </label>
        <div class="form-fields">
          <input class="actioninitiative-actionTextbox" type="text" name="{{concat 'SPELL_LEVELS.' spellLevel}}" id="{{concat 'SPELL_LEVELS.' spellLevel}}" value="{{spellLevelFormula}}" placeholder="{{lookup ../placeholder.SPELL_LEVELS spellLevel}}">
        </div>
      </div>

      {{/each}}

    </div>

  </section>

  <footer class="sheet-footer flexrow">
    <p class="hint"> {{ localize "actioninitiative.settings.tabs.footer" }}</p>
    <br>
    <button type='submit' name='submit' value='1'><i class='far fa-floppy-disk'></i>{{submitText}}</button>
  </footer>
</form>