<form class="flexcol" autocomplete="off">
  <nav class="sheet-tabs tabs" data-group="sections">
    <a class="item" data-tab="basic">
      {{localize "actioninitiative.template.settings-config.tabs.basic"}}
    </a>

    <a class="item" data-tab="weapon-damage">
      {{localize "actioninitiative.template.settings-config.tabs.weapon-damage"}}
    </a>

    <a class="item" data-tab="weapon-type">
      {{localize "actioninitiative.template.settings-config.tabs.weapon-type"}}
    </a>

    <a class="item" data-tab="spell-levels">
      {{localize "actioninitiative.template.settings-config.tabs.spell-levels"}}
    </a>
  </nav>

  <h1>
    Header 1 Title
  </h1>

  <p>
    Some paragraph
  </p>

  <section class="content">
    <div class="tab" data-tab="basic" data-group="sections">

      <h2> {{localize "actioninitiative.phrases.BasicVariant"}} </h2>

      {{#each basic as |basicType basicKey|}}

        <br>
        {{lookup placeholder [basicKey]}}
        <br>

        <div class="form-group">
          <label> {{localize (concat "actioninitiative.phrases." basicKey)}} </label>
          <div class="form-fields">
            <input type="text" name="{{concat 'basic.' basicKey}}" value="{{basicType}}" placeholder="{{lookup ../placeholder.BASIC basicKey}}">
          </div>
        </div>

      {{/each}}

      <p class="hint">Input a valid dice formula (or numeric value) for each type. Combatants will select their
      appropriate action(s) from these categories when rolling initiative. Delete to return to default.
      Entering "0" will cause the action to not affect initiative.</p>

    </div>

    <div class="tab" data-tab="weapon-damage" data-group="sections">
      <p> This is the Weapon Damage Tab </p>
    </div>

    <div class="tab" data-tab="weapon-type" data-group="sections">
      <p> This is the Weapon Type Tab </p>
    </div>

    <div class="tab" data-tab="spell-levels" data-group="sections">
      <p> This is the Spell Levels Tab </p>
    </div>

  </section>

  <footer class="sheet-footer flexrow">
    <button type='submit' name='submit' value='1'><i class='far fa-floppy-disk'></i>{{submitText}}</button>
  </footer>
</form>